* {
    margin: 0;
    border: 0;
}

.contenido{
    display: flex;
    flex-direction: column; 
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icons > img {
    width: 90px;
    height: 90px;
}

.foot {
    padding: 10px;
}